html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/*
     FILE ARCHIVED ON 15:47:37 Jan 16, 2021 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 22:32:27 Jan 29, 2022.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 687.721
  exclusion.robots: 0.093
  exclusion.robots.policy: 0.085
  RedisCDXSource: 1.655
  esindex: 0.008
  LoadShardBlock: 660.997 (3)
  PetaboxLoader3.datanode: 81.556 (5)
  CDXLines.iter: 22.098 (3)
  PetaboxLoader3.resolve: 5773.856 (3)
  load_resource: 5218.704 (2)
*/